@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@400;600&display=swap');

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Fredoka', sans-serif;
	display: flex;
    flex-direction: column;
	overflow-x: hidden;
	background-color: #F4FDFF;
}

.logo-parent{
	margin-top: 0.2%;
	margin-left: 3%;
	margin-bottom: 0.2%;
	z-index: 3;
}

.logo-icon{
	height: 40px;
	display: inline-block;
	vertical-align: top;
	z-index: 3;
}

.logo-toast{
	height: 30px;
	width: auto;
}

.navbar-left{
    display: inline-block;
    justify-content: start;
	width: auto;
	white-space: nowrap;
    z-index: 3;
    margin-left: 3%;
}

.navbar-nav .nav-item{
    margin-right: 30px;
}

.navbar-right{
	display: inline-block;
	justify-content: end;
	width: auto;
	white-space: nowrap;
	z-index: 3;
	margin-right: 1%;
}

nav{
	position: relative;
	z-index: 1;
	top: 0px;
    background-color: #A3F0FF;
	font-family: 'Fredoka', sans-serif;
}

.nav-text{
	margin-right: 20px;
}

.nav-icon{
	margin-right: 5px;
}

.row-1{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #F4FDFF;
	font-family: 'Fredoka', sans-serif;
	text-align: center;
	color: #1C3C7B;
}
.row-1 h1{
	font-weight: 800;
	font-size: 30px;
}


.row-2{
	width: 100%;
	background-color: #F4FDFF;
	font-family: 'Fredoka', sans-serif;
	text-align: center;
}

.bord-1{
	background-color: #FFF;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	border: 2px solid grey;
	border-top: 6px solid #1C3C7B;
	border-radius: 10px;
	color: grey;
	height: 130%;
	position: relative;
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
}

.bord-2{
	background-color: #FFF;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	border: 2px solid grey;
	border-top: 6px solid green;
	border-radius: 10px;
	color: grey;
	height: 130%;
	position: relative;
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
}

.bord-3{
	background-color: #FFF;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	border: 2px solid grey;
	border-top: 6px solid red;
	border-radius: 10px;
	color: grey;
	height: 130%;
	position: relative;
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
}

.bord-4{
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: left;
	width: 80%;
	background-color: #FFF;
	margin-top: 20%;
	border: 2px solid grey;
	border-radius: 10px;
	color: grey;
	position: relative;
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.51);
}

.title-card{
	background-color: #A3F0FF;
	color: #1C3C7B;
	padding: 10px 20px;
	font-weight: bold;
}

.title{
	height: 13%;
}

.title-starter{
	color: #1C3C7B;
}

.title-starter h4{
	font-weight: 800;
}

.title-starter h3{
	font-weight: 800;
}

.list-category{
	margin-top: 7%;
	padding: 0 20px;
	text-align: left;
}


.point-star{
	color: #000;
	font-size: 15px;
	vertical-align: middle;
}

.button-starter{
	position: absolute;
	bottom: 5%;
	right: 0;
	left: 0;
}

.button-starter button{
	margin-top: 7%;
	background-color: white;
	border: 3px solid #1C3C7B;
	font-size: small;
	font-weight: bolder;
	width: 80%;
	border-radius: 20px;
	color: #1C3C7B;
}

.title-professional{
	color: green;
}

.title-professional h4{
	font-weight: 800;
}

.title-professional h3{
	font-weight: 800;
}

.button-professional{
	position: absolute;
	bottom: 5%;
	right: 0;
	left: 0;
}

.button-professional button{
	margin-top: 7%;
	background-color: green;
	border: 3px solid green;
	font-size: small;
	font-weight: bolder;
	width: 80%;
	border-radius: 20px;
	color: white;
}

.title-premium{
	color: red
}

.title-premium h4{
	font-weight: 800;
}

.title-premium h3{
	font-weight: 800;
}

.button-premium{
	position: absolute;
	bottom: 5%;
	right: 0;
	left: 0;
}

.button-premium a{
	margin-top: 7%;
	background-color: red;
	border: 3px solid red;
	font-size: small;
	font-weight: bolder;
	width: 80%;
	border-radius: 20px;
	color: white;
}

.btn-pembayaran a{
	background-color: #1C3C7B;
	border-color: #1C3C7B;
	font-weight: bolder;
	width: 20%;
	height: auto;
	border-radius: 20px;
	margin-top: 10%;
}

.offcanvas-header{
	background-color: #A3F0FF;
	border-bottom: 1px solid grey;
}
.offcanvas-title{
	font-weight: 700;
	color: #1C3C7B;
}
.offcanvas-body{
	background-color: #F4FDFF;
}
.form-body{
	text-align: left;
	height: 85%;
	overflow-y: scroll;
}
.add-cart{
	height: 15%;
	padding: 30px 25px;
}
.btn-add-cart{
	width: 100%;
	font-size: 30px;
}

.btn-payment{
	width: 100px;
}

.card-body{
	overflow-x: scroll;
}

.subtitle{
	margin-top: 3%;
}

.qty{
	width: 60px;
	max-width: 60px;
}
.ket{
	display: inline-block;
	margin-top: 7%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media screen and (max-width: 1440px) {
	.col-free{
		margin-bottom: 10% !important;
	}

	.col-professional{
		margin-bottom: 10% !important;
	}

	.col-premium{
		margin-bottom: 10% !important;
	}

	.btn-pembayaran a{
		font-size: large;
		width: 40%;
		height: auto;
	}
}

@media screen and (max-width: 1399px) {
	.title h3{
		font-size: large;
	}

	.col-free{
		margin-bottom: 20% !important;
	}

	.col-professional{
		margin-bottom: 20% !important;
	}

	.col-premium{
		margin-bottom: 20% !important;
	}

	.btn-pembayaran a{
		font-size: large;
		width: 40%;
		height: auto;
	}
}

@media screen and (max-width: 991px) {
	.col-11 h4{
		font-size: x-large;
	}

	.col-free{
		margin-bottom: 30% !important;
	}

	.col-professional{
		margin-bottom: 30% !important;
	}

	.col-premium{
		margin-bottom: 30% !important;
	}

	.btn-pembayaran a{
		font-size: large;
		width: 80%;
		height: auto;
	}
}

@media screen and (max-width: 575px) {
	.col-10 h4{
		font-size: x-large;
	}

	.col-free{
		margin-bottom: 50% !important;
	}

	.col-professional{
		margin-bottom: 50% !important;
	}

	.col-premium{
		margin-bottom: 50% !important;
	}

	.btn-pembayaran a{
		font-size: large;
		width: 80%;
		height: auto;
	}
}

@media screen and (max-width: 392px) {
	.title h3{
		font-size: large;
	}

	.col-10 h4{
		font-size: larger;
	}

	.col-free{
		margin-bottom: 50% !important;
	}

	.col-professional{
		margin-bottom: 50% !important;
	}

	.col-premium{
		margin-bottom: 50% !important;
	}

	.btn-pembayaran a{
		font-size: large;
		width: 80%;
		height: auto;
	}
}

@media screen and (max-width: 320px) {
	.col-10 h4{
		font-size: medium;
	}

	.col-free{
		margin-bottom: 60% !important;
	}

	.col-professional{
		margin-bottom: 65% !important;
	}

	.col-premium{
		margin-bottom: 60% !important;
	}

	.btn-pembayaran a{
		font-size: medium;
		width: 80%;
		height: auto;
	}
	
}

@media screen and (max-width: 425px) {
	.row-1{
		padding-top: 10%;
	}

	.submit-btn{
		display: flex;
		justify-content: center;
		margin-top: 60px;
	}
	
	.class-btn{
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}

}

@media screen and (max-width: 991px) {
	.class-btn{
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}

    .icon-sosmed{
        display: inline-block !important;
        margin-right: 20%;
    }
}