@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Fredoka One', cursive;
	display: flex;
    flex-direction: column;
}

.logo-parent{
	margin-top: 0.2%;
	margin-left: 3%;
	margin-bottom: 0.2%;
	z-index: 3;
}

.logo-icon{
	height: 70px;
	display: inline-block;
	vertical-align: top;
	z-index: 3;
}

.logo-toast{
	height: 30px;
	width: auto;
}

.navbar-left{
    display: inline-block;
    justify-content: start;
	width: auto;
	white-space: nowrap;
    z-index: 3;
    margin-left: 3%;
}

.navbar-nav .nav-item{
    margin-right: 30px;
}

.navbar-right{
	display: inline-block;
	justify-content: end;
	width: auto;
	white-space: nowrap;
	z-index: 3;
	margin-right: 1%;
}

nav{
	position: relative;
	z-index: 1;
	top: 0px;
    background-color: #A3F0FF;
}

.nav-text{
	margin-right: 20px;
}

.nav-icon{
	margin-right: 5px;
}

.row-1{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 140px;
	background-color: #F4FDFF;
}

.row-1 .container{
	margin: auto
}

.img-laptop{
	display: flex;
	justify-content: center;
}

.title-row-1{
	color: #1C3C7B;
	font-weight: 700;
	font-size: 350%;
}

.title-row-1 span{
	font-size: 370%;
}

.desc-row-1{
	color: #1C3C7B;
	font-weight: 700;
	font-size: 200%;
}

.btn-contact{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.btn-contact button{
	background-color: #A3F0FF;
	border-color: #A3F0FF;
	font-weight: bolder;
}

.img-laptop img{
	width: 770px;
	height: 560x;
}

.row-2{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 160px;
	background-color: #A3F0FF;
}

.the-nineteen{
	font-weight: 700;
	font-size: 41px;
}

.jargon{
	font-weight: 500;
	font-size: 25px;
}

.quotes{
	font-size: 18px;
	padding-top: 10px;
	font-weight: 500;
}

.row-3{
	width: 100%;
	text-align: center;
	padding-bottom: 160px;
}

.tutorial{
	padding-top: 50px;
	font-weight: 700;
	padding-bottom: 30px;
}

.text-background{
	position: relative;
	z-index: 1;
	top: 0px;
}

.text-frontground{
	position: absolute;
	z-index: 2;
	top: 130px;
	left: 130px;
}

.number-1{
	font-size: 176px;
	color: #FFEAE8;
}

.number-2{
	font-size: 176px;
	color: #ECDBFF;
}

.number-3{
	font-size: 176px;
	color: #D4EDEE;
}

.row-4{
	padding-bottom: 160px;
}

.carousel{
	margin-left: 3%;
	margin-right: 3%;
}

.row-5{
	text-align: center;
}

.windows{
	margin-top: 30px;
}
