@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

html {
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Fredoka', sans-serif;
	display: flex;
    flex-direction: column;
}

.logo-parent{
	margin-top: 0.2%;
	margin-left: 3%;
	margin-bottom: 0.2%;
	z-index: 3;
}

.logo-icon{
	height: 40px;
	display: inline-block;
	vertical-align: top;
	z-index: 3;
}

.logo-toast{
	height: 30px;
	width: auto;
}

.navbar-left{
    display: inline-block;
    justify-content: start;
	width: auto;
	white-space: nowrap;
    z-index: 3;
    margin-left: 3%;
}

.navbar-nav .nav-item{
    margin-right: 30px;
}

.navbar-right{
	display: inline-block;
	justify-content: end;
	width: auto;
	white-space: nowrap;
	z-index: 3;
	margin-right: 1%;
}

nav{
	position: relative;
	z-index: 1;
	top: 0px;
    background-color: #A3F0FF;
	font-family: 'Fredoka', sans-serif;
}

.nav-text{
	margin-right: 20px;
}

.nav-icon{
	margin-right: 5px;
}

.row-1{
	width: 100%;
	padding-top: 7%;
	padding-bottom: 7%;
	background-color: #F4FDFF;
	font-family: 'Fredoka', sans-serif;
}

.row-1 .container{
	margin: auto
}

.img-laptop{
	display: flex;
	justify-content: center;
}

.title-row-1{
	color: #1C3C7B;
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 5%;
	text-align: center;
}

.title-row-1 span{
	font-size: 150px;
}

.desc-row-1{
	color: #1C3C7B;
	font-size: 23px;
	margin-bottom: 7%;
	text-align: center;
}

.btn-contact{
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.btn-kontak{
	margin-right: 1%;
}

.btn-daftar{
	margin-left: 1%;
}

.btn-contact a{
	background-color: #A3F0FF;
	border-color: #A3F0FF;
	font-weight: bolder;
}

.logo-icon-modal{
	width: 50px;
	height: auto;
}

.logo-sosmed{
}

.img-laptop img{
	width: 120%;
  	height: auto;
}

.row-2{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 10%;
	background-color: #A3F0FF;
	font-family: 'Fredoka', sans-serif;
}

.divtitle-row-2{
	display: flex;
	justify-content: center;
}

.title-row-2{
	display: inline-block;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
  	background: #F4FDFF;
	margin-bottom: 50px;
	font-weight: 450;
	color: #1C3C7B;
}

.desc-keunggulan{
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
  	background: #F4FDFF;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 450;
	color: #1C3C7B;
}

.desc-keunggulan h5{
	text-align: center;
}

.desckeunggulan{
	text-align: center;
	color: #1C3C7B;
}

.col-down{
	margin-top: 40%;
}

.advantage-row-2{
	margin-bottom: 50px;
	border-radius: 50px;
  	background: #F4FDFF;
	padding-right: 40px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 450;
	color: #1C3C7B;
}

.number-row-2{
	border-radius: 100px;
	padding-right: 20px;
	padding-left: 20px;
  	background: #A3F0FF;
}

.quotes{
	font-size: 18px;
	padding-top: 10px;
	font-weight: 500;
}

.img-keunggulan img{
	width: 45%;
	height: auto;
}

.img-keunggulan{
	display: flex;
	justify-content: center;
}

.row-3{
	width: 100%;
	text-align: center;
	padding-bottom: 10%;
	background-color: #F4FDFF;
	font-family: 'Fredoka', sans-serif;
}

.title-row-3{
	display: inline-block;
	margin-top: 10%;
	margin-bottom: 7%;
	border-radius: 50px;
  	background: #1C3C7B;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 450;
	color: #F4FDFF;
}

.img-tutorial img{
	width: 70%;
	height: auto;
}

.tutorial{
	padding-top: 50px;
	font-weight: 700;
	padding-bottom: 30px;
}

.link-video-tutorial{
	margin-top: 50px;
}

.link-video-tutorial a{
	color: #1C3C7B;
	background-color: #A3F0FF;
	border-radius: 50px;
	padding-right: 70px;
	padding-left: 70px;
}

.fa-play{
	padding-right: 10px;
}

.text-background{
	position: relative;
	z-index: 1;
	top: 0px;
}

.text-frontground{
	position: absolute;
	z-index: 2;
	top: 130px;
	left: 130px;
}

.number-1{
	font-size: 176px;
	color: #FFEAE8;
}

.number-2{
	font-size: 176px;
	color: #ECDBFF;
}

.number-3{
	font-size: 176px;
	color: #D4EDEE;
}

.row-4{
	background-color: #A3F0FF;
	font-family: 'Fredoka', sans-serif;
}

.title-row-4{
	display: inline-block;
	margin-top: 10%;
	margin-bottom: 7%;
	border-radius: 50px;
  	background: #1C3C7B;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 450;
	color: #F4FDFF;
}

.carousel{
	margin-left: 3%;
	margin-right: 3%;
}

.row-5{
	text-align: center;
	font-family: 'Fredoka', sans-serif;
}

.img-row-5-1 img{
	width: 70%;
	height: auto;
}

.img-row-5-2 img{
	margin-top: 5%;
	width: 60%;
	height: auto;
}


footer{
	text-align: center;
}
.background-footer{
	height: 70px;
	background-color: #A3F0FF;
}
.copyright{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	font-weight: 600;
}

footer {
	margin-top: auto;
}

@media screen and (max-width: 425px) {
	.title-row-1{
		font-size: 40px;
	}

	.title-row-1 span{
		font-size: 90px;
	}

	.img-laptop img{
		width: 100%;
		height: auto;
	}

	.title-row-3{
		font-size: 20px;
	}

	.title-row-4{
		font-size: 20px;
	}

	.copyright p{
		font-size: 15px;
	}
}