@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap');

html {
	width: 100%;
	height: 100%;
}


body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f0a48c !important;
	font-family: 'Montserrat', sans-serif;
}

.logo-icon{
	width: 40px;
	height: 40px;
	background-color: #000;
	display: inline-block;
	vertical-align: top;
}

.logo-text{
	font-family: 'montserrat', 'sans-serif';
	font-size: 24px;
	font-weight: 700;
	width: 320px;
	height: auto;
	display: inline-block;
    vertical-align: top; 
}
.logo-name{
	line-height: 20px;
	font-size: 20px;
	margin-left: 15px;
}

.desc{
	color: #000;
	font-size: 16px;
}
.white-on-top{
	width: 100%;
	height: 13%;
	background-color: #fff;
}
.nav-parent{
	position: absolute;
	width: 100%;
	height: 70%;
}
.nav-parent .navbar{
	padding: 50px;
}
.navbar-nav{
	margin-top: -15% !important;
}
.collapse ul li{
	display: inline-block;
	width: auto;
	white-space: nowrap;
}
.nav-text{
	margin-right: 20px;
}
.nav-icon{
	margin-right: 5px;
}
.headline{
	width: 100%;
	padding: 20% 15% ;
	font-family: 'montserrat';
}
.headline h1{
	font-size: 82px;
	font-weight: 700;
}

.headline h2{
	font-size: 24px;
	font-weight: 700;
}

.headline a{
	text-decoration: none;
}
.btn-contact{
	color: #000;
	font-size: 17px;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 23px;
	padding: 10px 30px;
	margin-top: 5%;
	display: inline-block;
}

.btn-contact:hover{
	background-color: #1d1e21;
	color: #fff;
}

.content{
	background-color: #fff;
}

.row-1{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 160px;
}

.the-nineteen{
	font-weight: 700;
	font-size: 41px;
}

.jargon{
	font-weight: 500;
	font-size: 25px;
}

.quotes{
	padding-top: 10px;
	font-weight: 500;
}

.row-2{
	width: 100%;
	text-align: center;
	padding-bottom: 160px;
}

.tutorial{
	padding-top: 50px;
	font-weight: 700;
	padding-bottom: 30px;
}

.text-background{
	position: relative;
	z-index: 1;
	top: 0px;
}

.text-frontground{
	position: absolute;
	z-index: 2;
	top: 130px;
	left: 130px;
}

.number-1{
	font-size: 176px;
	color: #FFEAE8;
}

.number-2{
	font-size: 176px;
	color: #ECDBFF;
}

.number-3{
	font-size: 176px;
	color: #D4EDEE;
}

.row-3{
	padding-bottom: 160px;
}

.carousel{
	margin-left: 3%;
	margin-right: 3%;
}

.row-4{
	text-align: center;
}

.windows{
	margin-top: 30px;
}